<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <h1>{{ site.title }}</h1>
        <nav>
            <a href="{{ '/' | relative_url }}">Posts</a>
            <a href="{{ '/projects' | relative_url }}">Projects</a>
            <a href="{{ '/search' | relative_url }}">Search</a>
            <a href="{{ '/tags' | relative_url }}">Tags</a>
            <a href="{{ '/faq' | relative_url }}">FAQ</a>
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <a href="https://github.com/{{ site.github_username }}"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/terry-chen-3b44911a4/" target="_blank">
        <img src="assets/linkedin_icon.png" alt="LinkedIn" />
    </a>
    </footer>
</body>
</html>
