---
layout: default
---

<section class="welcome">
    <h2>👋 Welcome to Terry's Blog</h2>
    <p>{{ site.description }}</p>
    <div class="social-icons">
        <a href="{{ '/feed.xml' | relative_url }}"><i class="fas fa-rss"></i></a>
        <a href="https://github.com/{{ site.github_username }}"><i class="fab fa-github"></i></a>
    </div>
</section>

<section class="posts">
    {% for post in site.posts %}
    <article class="post-preview">
        <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
        <p>{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
        <p class="post-meta">
            Date: {{ post.date | date: "%B %d, %Y" }} | 
            Estimated Reading Time: {{ post.content | number_of_words | divided_by: 200 | plus: 1 }} min |
            Author: {{ post.author }}
        </p>
    </article>
    {% endfor %}
</section>